/* Custom CSS Stylesheet */

/*** *** *** *** *** *** Page: Index *** *** *** *** *** ***/

/*--GENERAL--*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
}

body {

    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2e3d49;
    text-align: center;
    background-image: url("../img/game-background-desktop.svg"), url("../img/background%20gradient.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.materialize-card {
    position: relative;
    margin: 0;
    background-color: #2e3d49;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

/***--- --- --- HEADING --- --- ---***/

.title {
    grid-column: 1/5;
    grid-row: 1;
    margin: 0;
    padding: 1em: border: 1px solid black;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    padding: auto;

}

/***--- --- ---GAME CONTAINER --- --- ---***/

.wrapper {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 9fr 1fr 1fr;
    grid-gap: none;
    justify-content: center;
    align-items: center;
    height: 97vh;
}



/***--- --- --- DECK (cards container) --- --- ---***/

.deck {

    height: 75vh;
    max-width: 75vh;
    grid-column: 3/11;
    grid-row: 3;
    margin: 0 auto;
    background: #9acfc8 60%;
    padding: 0em 1em;
    border-radius: 10px;
    background: #9acfc8 60%;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

/***--- --- --- CARDS --- --- ---***/

img {
    visibility: hidden;
    width: 100%;
}

.card {
    margin: 0.25em;
    max-height: 10vh;
    max-width: 10vh;
    border-radius: 10px;
    background: #2e3d49;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
}


.show {
    pointer-events: none;
}

.deck .card.show img {
    transform: rotateY(180deg);
    visibility: visible;
}

.open {
    transform: rotateY(180deg);
    background: #b5e0d9;
    cursor: default;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


.match {
    cursor: default;
    background: #31bcb3;
    pointer-events: none;
    border-radius: 10px;
    !important;
    animation-name: rubberBand;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;

}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.75;
}

/***--- --- --- SCORE & TIME PANEL --- --- ---***/

.time-panel,
.score-panel {
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    margin: 1em 0;
    height: 10vh;
}

.time-panel {
    margin-top: 0;
    grid-column: 3/7;
    grid-row: 5;
}

.score-panel {
    margin-top: 0;
    grid-column: 7/11;
    grid-row: 5;

}

.game-rating,
.move-count,
.pair-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.game-rating > p,
.move-count > p,
.pair-count > p {
    font-size: 12px;
    text-align: center;
    justify-content: center;
    margin: 0 1em;
}

.moves,
.stars,
.pairs,
.seconds,
.minutes {
    font-size: 20px;
    text-align: center;
}

.stars {
    margin: 0 5px 0 0;
    color: #fed01f;
    list-style: none;

}

.stars > li {
    list-style: none;
    display: inline-block;
    text-align: center;
}

.move-count {
    font-size: 16px;

}

.pair-count {
    font-size: 16px;

}

.time {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.time > p {
    margin: 0 1em;
}

.game-rating > p,
.stars,
#pause,
#restart,
.time {
    justify-self: center;
    align-self: center;
}

#restart {
    order: -1;
    text-align: center;
}


#pause,
#restart {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #e7a7a8;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    margin: 0.5em;
    cursor: pointer;
}


#pause > i,
#restart > i {
    color: white;
    font-size: 20px;
}

/***--- --- --- FOOTER --- --- ---***/

footer {
    height: 3vh;
    font-size: 10px;
    color: white;
    width: 100%;
    background-color: #e7a7a8;
    font-weight: 600;
    padding: 0.5em;
}

.foot-span {
    font-weight: 200;
}

/***--- --- --- MODALS --- --- ---***/

.swal-overlay {
    background-color: rgba(46, 61, 76, 0.60);

}

.swal-modal {
    background-image: url('../img/modal-background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: transparent;
}

.swal-title {
    padding: 1em 1em 0em 1em;
}

.swal-text {
    font-weight: 700;
    font-size: 16px;
    padding: 0em 1em 8em 1em;
    display: block;
    margin-top: 0;
    margin: 0 2em;
    text-align: center;
    color: #2e3d49;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #e7a7a8;
    color: white;
    font-size: 12px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    margin: auto;
}

.swal-footer {
    text-align: center;
    margin-top: 1em;
    padding: 5em 2em 0.5em 2em;
}

.swal-greetings,
.swal-restart,
.swal-pause,
.swal-endgame {
    width: 660 px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: transparent;
}

.swal-greetings {
    background-image: url('../img/modal-background-animals.svg');
}

.swal-restart,
.swal-endgame {
    background-image: url('../img/modal-background.svg');
}

.swal-pause {
    background-image: url('../img/bear-rotating.gif'), url('../img/modal-background.svg');
}

.swal-endgame > .swal-title {
    font-size: 20px;
}

.swal-endgame > .swal-text {
    margin-bottom: 0;
    font-size: 12px;
    padding: 1em;
}

/***--- --- --- ANIMATIONS --- --- ---***/

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

/***--- --- --- RESPONSIVENESS --- --- ---***/

/***--- ---NARROW PHONE --- ---***/

@media screen and (max-width: 321px) {
    .body {
        background-image: url("../img/background%20gradient.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .wrapper {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-gap: none;
        height: 95vh;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
    }
    /***--- --- --- HEADING --- --- ---***/
    .title {
        grid-column: 1/7;
        grid-row: 1;
        width: 100vw;
        height: 7.5vh;
        margin-top: -1em;
        padding: 0;
        font-size: 12px;
    }
    .title > h1 {
        font-size: 3vh;
        padding: 1vh;
    }
    /***--- --- --- SCORE PANEL --- --- ---***/
    .time-panel {
        margin-bottom: -5vh;
        grid-column: 1/7;
        grid-row: 11/13;
        width: 100vw;
    }

    .score-panel {
        margin-top: -5vh;
        grid-column: 1/7;
        grid-row: 2/4;
        width: 100vw;

    }
    #restart {
        order: 1;
    }
    /***--- --- --- DECK & CARDS --- --- ---***/
    .deck {
        grid-column: span6;
        grid-row: 4/10;
        width: 100vw;
        height: 65vh;
        padding: 0.1em;
        margin-top: 5vh;
        justify-self: center;
        align-self: center;
    }

    .card {
        max-width: 40px;
        max-height: 40px;
        margin: 5px;
    }

    /***--- --- --- FOOTER --- --- ---***/
    footer {
        height: 5vh;
    }
    footer > p {
        margin-top: -0.75vh;
    }
    /***--- --- --- MODALS --- --- ---***/
    .swal-text {
        font-weight: 700;
        font-size: 16px;
        padding: 0em 1em 8em 1em;
        display: block;
        margin-top: 0;
        margin: 0 2em;
        text-align: center;
        color: #2e3d49;
    }

    .swal-button {
        padding: 7px 19px;
        border-radius: 5px;
        background-color: #e7a7a8;
        color: white;
        font-size: 12px;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
        margin: auto;
    }

    .swal-footer {
        text-align: center;
        margin-top: 1em;
        padding: 5em 2em 0.5em 2em;
    }

    .swal-greetings,
    .swal-restart,
    .swal-pause,
    .swal-endgame {
        width: 75 vw;
    }

    .swal-restart > .swal-title,
    .swal-pause > .swal-title,
    .swal-endgame > .swal-title {
        font-size: 20px;
        margin: 1em 2em;
    }
    .swal-restart > .swal-text,
    .swal-pause > .swal-text,
    .swal-endgame > .swal-text {
        margin-bottom: 0;
        font-size: 12px;
        padding: 1em;
    }
}


/***--- ---PHONE --- ---***/

@media screen and (min-width: 322px) and (max-width: 600px) {
    .body {
        background-image: url("../img/background%20gradient.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .wrapper {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-gap: none;
        height: 95vh;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
    }
    /***--- --- --- HEADING --- --- ---***/
    .title {
        grid-column: 1/7;
        grid-row: 1;
        width: 100vw;
        height: 7.5vh;
        margin: 0;
        padding: 0;
    }

    /***--- --- --- SCORE PANEL --- --- ---***/
    .time-panel {
        margin-bottom: 0;
        grid-column: 1/7;
        grid-row: 11/13;
        width: 100vw;
        height: 10vh;
    }

    .score-panel {
        margin-top: 0;
        grid-column: 1/7;
        grid-row: 2/4;
        height: 10vh;
        width: 100vw;
    }

    #restart {
        order: 1;
    }
    /***--- --- --- DECK & CARDS --- --- ---***/
    .deck {
        grid-column: span6;
        grid-row: 4/10;
        width: 100vw;
        height: 55vh;
        padding: 0.25em;
        margin: auto;
        justify-self: center;
        align-self: center;
    }

    .card {
        max-width: 50px;
        max-height: 50px;
        margin: 5px;
    }


    /***--- --- --- FOOTER --- --- ---***/
    footer {
        height: 5vh;
    }
    /***--- --- --- MODALS --- --- ---***/
    .swal-text {
        font-weight: 700;
        font-size: 16px;
        padding: 0em 1em 8em 1em;
        display: block;
        margin-top: 0;
        margin: 0 2em;
        text-align: center;
        color: #2e3d49;
    }

    .swal-button {
        padding: 7px 19px;
        border-radius: 5px;
        background-color: #e7a7a8;
        color: white;
        font-size: 12px;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
        margin: auto;
    }

    .swal-footer {
        text-align: center;
        margin-top: 1em;
        padding: 5em 2em 0.5em 2em;
    }

    .swal-greetings,
    .swal-restart,
    .swal-pause,
    .swal-endgame {
        width: 75 vw;
    }

    .swal-restart > .swal-title,
    .swal-pause > .swal-title,
    .swal-endgame > .swal-title {
        font-size: 20px;
        margin: 1em 2em;
    }
    .swal-restart > .swal-text,
    .swal-pause > .swal-text,
    .swal-endgame > .swal-text {
        margin-bottom: 0;
        font-size: 12px;
        padding: 1em;
    }
}

/***--- ---TABLET --- ---***/

@media screen and (min-width: 600px) and (max-width: 992px) {

    .wrapper {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-gap: none;
        height: 95vh;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
    }
    /***--- --- --- HEADING --- --- ---***/
    .title {
        grid-column: 1/7;
        grid-row: 1;
        width: 100vw;
        height: 7.5vh;
        margin: 0;
        padding: 0;
    }

    /***--- --- --- SCORE PANEL --- --- ---***/
    .time-panel {
        margin-bottom: 0;
        grid-column: 1/7;
        grid-row: 11/13;
        width: 100vw;
        height: 10vh;
    }

    .score-panel {
        margin-top: 0;
        grid-column: 1/7;
        grid-row: 2/4;
        height: 10vh;
        width: 100vw;
    }

    #restart {
        order: 1;
    }
    /***--- --- --- DECK & CARDS --- --- ---***/
    .deck {
        grid-column: 1/7;
        grid-row: 4/10;
        width: 75vw;
        height: 55vh;
        padding: 0.25em;
        margin: auto;
        justify-self: center;
        align-self: center;
    }

    .card {
        max-width: 7vh;
        max-height: 7vh;
        margin: 0.5em;
    }


    /***--- --- --- FOOTER --- --- ---***/
    footer {
        height: 5vh;
    }
    /***--- --- --- MODALS --- --- ---***/
    .swal-text {
        font-weight: 700;
        font-size: 16px;
        padding: 0em 1em 8em 1em;
        display: block;
        margin-top: 0;
        margin: 0 2em;
        text-align: center;
        color: #2e3d49;
    }

    .swal-button {
        padding: 7px 19px;
        border-radius: 5px;
        background-color: #e7a7a8;
        color: white;
        font-size: 12px;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
        margin: auto;
    }

    .swal-footer {
        text-align: center;
        margin-top: 1em;
        padding: 5em 2em 0.5em 2em;
    }

    .swal-greetings,
    .swal-restart,
    .swal-pause,
    .swal-endgame {
        width: 75 vw;
    }

    .swal-restart > .swal-title,
    .swal-pause > .swal-title,
    .swal-endgame > .swal-title {
        font-size: 20px;
        margin: 1em 2em;
    }
    .swal-restart > .swal-text,
    .swal-pause > .swal-text,
    .swal-endgame > .swal-text {
        margin-bottom: 0;
        font-size: 12px;
        padding: 1em;
    }
}

/*-------------THE ᕕ( ᐛ )ᕗ END-----------------*/
